section.hero{
    background-image: url(media/scuba-diving/17.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    filter: saturate(1.5);
    background-attachment: fixed;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    
}

.hero .navigation a{
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.hero .bg-filter{
    z-index: 0;
    background: linear-gradient(rgb(197, 200, 206), rgb(0, 0, 0));
    opacity: .2;
}